{% extends "layout.html" %}
{% block content %}
   <div class='content-section'>
       <form method="POST" action="">
           {{ form.csrf_token }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Make schedules your classes for next semester</legend>
                <div class = "form-group">
                    {{ form.class1.label(class="form-control-label") }}
                    {{ form.class1(class="form-control form-control-lg") }}
                </div>
                <div class = "form-group">
                    {{ form.class2.label(class="form-control-label") }}
                    {{ form.class2(class="form-control form-control-lg") }}
                </div>
                <div class = "form-group">
                    {{ form.class3.label(class="form-control-label") }}
                    {{ form.class3(class="form-control form-control-lg") }}
                </div>
                <div class = "form-group">
                    {{ form.class4.label(class="form-control-label") }}
                    {{ form.class4(class="form-control form-control-lg") }}
                </div>
                <div class = "form-group">
                    {{ form.class5.label(class="form-control-label") }}
                    {{ form.class5(class="form-control form-control-lg") }}
                </div>
                <div class = "form-group">
                    {{ form.class6.label(class="form-control-label") }}
                    {{ form.class6(class="form-control form-control-lg") }}
                </div>
                <div class = "form-group">
                    {{ form.class7.label(class="form-control-label") }}
                    {{ form.class7(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
            </div>
       </form>
   </div>
{% endblock content %}
